.App {
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  font-size: 2em;
}

.chat-history {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 1%;
}

.chat-history > div {
  margin-top: 1em;
  margin-left: 0.5em;
}

.writing-form {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
}

.writing-field {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
}

.writing-input {
  width: 80%;
  border: 2px solid black;
}

.emoji-mart {
  position: absolute;
  top: -650%;
  left: 80%;
}

.emoji-mart-preview {
  display: none;
}
